<html xmlns:th="http://www.thymeleaf.org/">
<body>
<div th:fragment="simple-machine-card(searchMachine)" class="card mb-3" style="max-width: 1110px">
    <div class="row no-gutters">
        <div class="card-body px-1 py-2">
            <div>
                <h5 th:text="${searchMachine.name}" class="d-inline-block m-0"></h5>
                <span class="badge bg-success text-white">2대</span>
            </div>
            <p class="card-text mb-1 font-weight-bold">
                상세정보
                <span class="font-weight-normal"
                      id="store-card-address">500원 쯤 하려나</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>