<html xmlns:th="http://www.thymeleaf.org/">
<body>
<div th:fragment="simple-store-card(searchStore)" class="card mb-3" style="max-width: 1110px">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="img-thumbnail img-fluid" width="150" th:src="@{/images/unknown.png}" alt="...">
        </div>
        <a th:href="@{/store/detail(id=${searchStore.id})}">
            <div class="col-md-8">
                <div class="card-body  px-1 py-2">
                    <div class="text-center">
                        <h5 th:text="${searchStore.name}" class="d-inline-block m-0"></h5>
                        <span th:if="${searchStore.isop}" class="badge bg-success text-white">영업 중</span>
                        <span th:if="${!searchStore.isop}" class="badge bg-danger text-white">폐업</span>
                    </div>
                    <h5 class="card-title m-1 text-white">
                        <img th:if="${searchStore.networkType.k}" th:src="@{/images/k.png}" width="15" alt="k status">
                        <img th:if="${searchStore.networkType.n}" th:src="@{/images/n.png}" width="15" alt="n status">
                        <img th:if="${searchStore.networkType.s}" th:src="@{/images/s.png}" width="15" alt="s status">
                        <img th:if="${searchStore.networkType.t}" th:src="@{/images/t.png}" width="15" alt="t status">
                        <img th:if="${searchStore.networkType.a}" th:src="@{/images/a.png}" width="15" alt="a status">
                    </h5>
                    <p class="card-text mb-1 font-weight-bold">
                        주소
                        <span th:text="${searchStore.address}" class="font-weight-normal"
                              id="store-card-address"></span>
                    </p>
                    <p class="card-text mb-1 font-weight-bold">
                        영업시간
                        <span th:if="${!#strings.isEmpty(searchStore.uptime)}" th:text="${searchStore.uptime}"
                              class="font-weight-normal"></span>
                        <span th:if="${#strings.isEmpty(searchStore.uptime)}" class="font-weight-normal">정보 없음</span>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="mb-0">
                <small th:each="machine, status : ${searchStore.machines}" th:if="${status.index < 5}"
                       class="card-text" id="store-card-machines">
                    <span th:text="${machine.shortName}" class="badge bg-info text-white"></span>
                </small>
            </p>
        </div>
    </div>
</div>
</body>
</html>