<html xmlns:th="http://www.thymeleaf.org/">
<body>
<!--/*@thymesVar id="storeDto" type="com.rainbowflavor.gorakulist.store.dto.StoreDto"*/-->
<div th:id="${storeDto.id}" th:fragment="simple-store-card(storeDto)" class="card store-card mb-3" style="max-width: 1110px" >
    <div class="row no-gutters">
        <div class="col-md-4 text-center">
            <img class="img-thumbnail img-fluid" width="150" th:src="@{/images/unknown.png}" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body  px-1 py-2">
                <div class="text-center">
                    <h5 th:text="${storeDto.name}" class="d-inline-block m-0"></h5>
                    <span th:if="${storeDto.isop}" class="badge bg-success text-white">영업 중</span>
                    <span th:if="${!storeDto.isop}" class="badge bg-danger text-white">폐업</span>
                </div>
                <h5 class="card-title m-1 text-white">
                    <img th:if="${storeDto.networkType.k}" th:src="@{/images/k.png}" width="15" alt="k status">
                    <img th:if="${storeDto.networkType.n}" th:src="@{/images/n.png}" width="15" alt="n status">
                    <img th:if="${storeDto.networkType.s}" th:src="@{/images/s.png}" width="15" alt="s status">
                    <img th:if="${storeDto.networkType.t}" th:src="@{/images/t.png}" width="15" alt="t status">
                    <img th:if="${storeDto.networkType.a}" th:src="@{/images/a.png}" width="15" alt="a status">
                </h5>
                <p class="card-text mb-1 font-weight-bold">
                    주소
                    <span th:if="!${#strings.isEmpty(storeDto.address)}" th:text="${storeDto.address}" class="font-weight-normal"
                          id="store-card-address"></span>
                    <span th:if="${#strings.isEmpty(storeDto.address)}" class="font-weight-normal"
                          id="store-card-address-none">정보 없음</span>
                </p>
                <p class="card-text mb-1 font-weight-bold">
                    영업시간
                    <span th:if="${!#strings.isEmpty(storeDto.uptime)}" th:text="${storeDto.uptime}"
                          class="font-weight-normal"></span>
                    <span th:if="${#strings.isEmpty(storeDto.uptime)}" class="font-weight-normal">정보 없음</span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="mb-0 text-center">
                <span th:each="storeMachine, status : ${storeDto.storeMachines}" th:if="${status.index < 5}"
                       class="card-text" id="store-card-machines">
                    <span th:text="${storeMachine.machine.shortName}" class="badge bg-info text-white"></span>
                </span>
                <span th:text="|+${#lists.size(storeDto.storeMachines)-5}|" th:if="${#lists.size(storeDto.storeMachines) > 5}"
                      class="badge bg-secondary text-white"></span>
            </p>
        </div>
    </div>
</div>
</body>
</html>