nav {
    position: absolute;
    top: 0;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0 0 20px 20px;
}

nav .title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;;

    img {
        margin-left: 25px;
        margin-right: 1rem;
    }
}

nav #navigation {
    margin-right: 1%;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
            float: left;
            margin-left: 1rem;

            a {
                text-decoration: none;
                color: #333;
                font-size: 1.5rem;
                transition: 0.3s;

                &:hover {
                    font-size: 1.7rem;
                }
            }
        }
    }
}