<html xmlns:th="http://www.thymeleaf.org/">
<body>

<div th:fragment="machine-card(storeMachine)" class="card mb-3" style="max-width: 1110px">
    <!--/*@thymesVar id="storeMachine" type="com.rainbowflavor.gorakulist.store.StoreMachineDto"*/-->
    <div class="row no-gutters">
        <div class="card-body px-1 py-2">
            <div>
                <h5 th:text="${storeMachine.machine.koName}" class="d-inline-block m-0"></h5>
                <span th:if="${storeMachine.machine.category.name() == 'RHYTHM'}"
                      class="badge bg-danger text-white">리듬</span>
                <span th:if="${storeMachine.machine.category.name() == 'FIGHT'}"
                      class="badge bg-warning text-white">격투</span>
                <span th:if="${storeMachine.machine.category.name() == 'RACING'}"
                      class="badge bg-success text-white">레이싱</span>
                <span th:if="${storeMachine.machine.category.name() == 'SHOOTING'}"
                      class="badge bg-info text-white">슈팅</span>
                <span th:if="${storeMachine.machine.category.name() == 'ACTION'}"
                      class="badge bg-primary text-white">액션</span>
                <span th:if="${storeMachine.machine.category.name() == 'PUZZLE'}"
                      class="badge bg-secondary text-white">퍼즐</span>
                <span th:if="${storeMachine.machine.category.name() == 'CASUAL'}"
                      class="badge bg-secondary text-white">캐쥬얼</span>
                <span th:if="${storeMachine.machine.category.name() == 'SPORTS'}"
                      class="badge bg-secondary text-white">스포츠</span>
                <span th:if="${storeMachine.machine.category.name() == 'ETC'}"
                      class="badge bg-dark text-white">기타</span>
                <span th:text="|${storeMachine.machineCount}대|" th:if="${storeMachine.machineCount >= 1}"
                      class="badge bg-light text-black"></span>
                <span th:if="${storeMachine.machineCount == null}" class="badge bg-light text-black">정보 없음</span>
                <th:block th:if="${!#strings.isEmpty(storeMachine.description)}">
                    <div th:text="|${storeMachine.description}|" class="font-weight-normal"
                         id="store-card-address"></div>
                </th:block>
            </div>
        </div>
    </div>
</div>

<!--/*@thymesVar id="storeDto" type="com.rainbowflavor.gorakulist.store.StoreDto"*/-->
<div th:id="${storeDto.id}" th:fragment="store-card(storeDto)" class="card store-card mb-3" style="max-width: 1110px; cursor:pointer" >
    <div th:id="|info-${storeDto.id}|" class="row no-gutters store-card-info">
        <div class="col-md-4 text-center">
            <img class="img-thumbnail img-fluid" width="150" th:src="@{/images/unknown.png}" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body  px-1 py-2">
                <div class="text-center">
                    <h5 th:text="${storeDto.name}" class="d-inline-block m-0"></h5>
                    <span th:if="${storeDto.isop}" class="badge bg-success text-white">영업 중</span>
                    <span th:if="${!storeDto.isop}" class="badge bg-danger text-white">폐업</span>
                </div>
                <h5 class="card-title m-1 text-white">
                    <img th:if="${storeDto.networkType.k}" th:src="@{/images/k.png}" width="15" alt="k status">
                    <img th:if="${storeDto.networkType.n}" th:src="@{/images/n.png}" width="15" alt="n status">
                    <img th:if="${storeDto.networkType.s}" th:src="@{/images/s.png}" width="15" alt="s status">
                    <img th:if="${storeDto.networkType.t}" th:src="@{/images/t.png}" width="15" alt="t status">
                    <img th:if="${storeDto.networkType.a}" th:src="@{/images/a.png}" width="15" alt="a status">
                </h5>
                <p class="card-text mb-1 font-weight-bold">
                    주소
                    <span th:if="!${#strings.isEmpty(storeDto.address)}" th:text="${storeDto.address}" class="font-weight-normal"
                          id="store-card-address"></span>
                    <span th:if="${#strings.isEmpty(storeDto.address)}" class="font-weight-normal"
                          id="store-card-address-none">정보 없음</span>
                </p>
                <p class="card-text mb-1 font-weight-bold">
                    영업시간
                    <span th:if="${!#strings.isEmpty(storeDto.uptime)}" th:text="${storeDto.uptime}"
                          class="font-weight-normal"></span>
                    <span th:if="${#strings.isEmpty(storeDto.uptime)}" class="font-weight-normal">정보 없음</span>
                </p>
            </div>
        </div>
    </div>
    <div th:id="|machinelist-${storeDto.id}|" class="row store-card-machine">
        <div class="col-md-12">
            <p class="mb-0 text-center">
                <span th:id="|machineclicked-${storeDto.id}|" hidden>0</span>
                <span th:each="storeMachine, status : ${storeDto.storeMachines}" th:if="${status.index < 5}"
                      class="card-text" id="store-card-machines">
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'RHYTHM'}"
                          class="badge bg-danger text-white"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'FIGHT'}"
                          class="badge bg-warning text-white"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'RACING'}"
                          class="badge bg-success text-white"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'SHOOTING'}"
                          class="badge bg-info text-white"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'ACTION'}"
                          class="badge bg-primary text-white"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'PUZZLE'}"
                          class="badge bg-secondary text-white"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'CASUAL'}"
                          class="badge bg-secondary text-white"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'SPORTS'}"
                          class="badge bg-secondary text-white"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'ETC'}"
                          class="badge bg-dark text-white"></span>
                </span>
                <span th:each="storeMachine, status : ${storeDto.storeMachines}" th:if="${status.index >= 5}"
                      class="card-text">
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'RHYTHM'}"
                          th:class="|badge bg-danger text-white hidden-machine-${storeDto.id}|" style="display: none;"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'FIGHT'}"
                          th:class="|badge bg-warning text-white hidden-machine-${storeDto.id}|" style="display: none;"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'RACING'}"
                          th:class="|badge bg-success text-white hidden-machine-${storeDto.id}|" style="display: none;"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'SHOOTING'}"
                          th:class="|badge bg-info text-white hidden-machine-${storeDto.id}|" style="display: none;"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'ACTION'}"
                          th:class="|badge bg-primary text-white hidden-machine-${storeDto.id}|" style="display: none;"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'PUZZLE'}"
                          th:class="|badge bg-secondary text-white hidden-machine-${storeDto.id}|" style="display: none;"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'CASUAL'}"
                          th:class="|badge bg-secondary text-white hidden-machine-${storeDto.id}|" style="display: none;"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'SPORTS'}"
                          th:class="|badge bg-secondary text-white hidden-machine-${storeDto.id}|" style="display: none;"></span>
                    <span th:text="${storeMachine.machine.shortName}"
                          th:if="${storeMachine.machine.category.name() == 'ETC'}"
                          th:class="|badge bg-dark text-white hidden-machine-${storeDto.id}|" style="display: none;"></span>
                </span>
                <span th:text="|+${#lists.size(storeDto.storeMachines)-5}|" th:if="${#lists.size(storeDto.storeMachines) > 5}"
                      class="badge bg-light text-black" th:id="|machinecount-${storeDto.id}|"></span>
            </p>
        </div>
    </div>
</div>

<div th:fragment="check-game(category)" class="form-check form-check-inline">
    </th:block>

        <input th:field="*{gameCheckbox}" th:id="${category.id}"
               class="form-check-input" type="checkbox"
               th:name="gameCheckbox" th:value="${category.id}">
        <label th:for="${category.id}" class="form-check-label"
               th:text="${category.shortName}"></label>
    </th:block>
</div>
</body>
</html>