<div id="content" class="flex-shrink-0">
  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <h3 id="cs-title" class="display-5">문의</h3>
        <p id="cs-subtitle" class="lead">사이트 관련 각종 문의를 넣어주세요</p>
      </div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">이메일</span>
      <input id="cs-email1" type="text" class="form-control" placeholder="메일 ID" aria-label="Username">
      <span class="input-group-text">@</span>
      <input id="cs-email2" type="text" class="form-control" placeholder="메일 서버" aria-label="Server">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="cs-type">문의 종류</label>
      </div>
      <select class="custom-select " id="cs-type">
        <option value="선택하세요" selected>선택하세요</option>
        <option value="정보 추가/수정/삭제 요청">정보 추가/수정/삭제 요청</option>
        <option value="서비스 관련">서비스 관련</option>
        <option value="제휴 문의">제휴 문의</option>
        <option value="기타">기타</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">문의 내용</span>
      <textarea class="form-control" aria-label="With textarea" rows="5" id="cs-content-text"></textarea>
    </div>
    <div class="mb-3">
      아래의 제출 버튼을 누름으로서 GorakuList의 <a href="/legal/toc.html">이용약관</a>과 <a href="/legal/privacy.html">개인정보처리방침</a>에
      동의한
      것으로 간주합니다.
    </div>
    <div class="input-group mb-3">
      <button id="btn-submit" type="button" class="btn btn-primary">제출</button>
    </div>
  </div>
</div>