.linkBtn {
    border-radius: 50%;
    border: 0px;
}
.text-bold {
    font-weight: bold;
}
footer{
    background-color: rgba(0, 0, 0, 0.2);
}
@media(max-width:420px){
    .linkBtn{
        font-size: 0.3rem;
        align-self:end;
    }
}