<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>GorakuList :: 한국 오락실 리스트 </title>

    <!-- favicon  -->
    <link rel="shortcut icon" th:href="@{/images/gl_logo.svg}"/>

    <!-- common style -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css"
          th:href="@{/node_modules/font-awesome/css/font-awesome.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">

    <!--  Global site tag (gtag.js) - Google Analytics  -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JY8V6BBF3T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-JY8V6BBF3T');
    </script>
</head>
<body>
<div th:replace="fragment/navbar.html :: default-navbar(${activeTab})"></div>
<div layout:fragment="content"></div>
<div th:replace="fragment/footer.html :: default-footer"></div>
<div th:replace="fragment/script.html :: default-script"></div>
<div layout:fragment="custom-script"></div>
</body>
<div layout:fragment="modal"></div>
</html>
