<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout(activeTab='cs')}">
<head>

</head>
<body>
<div layout:fragment="content" id="content" class="content-center">
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h3 id="cs-title" class="display-5">문의</h3>
                <p id="cs-subtitle" class="lead">사이트 관련 각종 문의를 넣어주세요</p>
            </div>
        </div>
        <form id="cs-form">
            <div class="input-group mb-3">
                <span class="input-group-text">이메일</span>
                <input id="cs-email1" type="text" class="form-control" placeholder="메일 ID" aria-label="Username" required>
                <span class="input-group-text">@</span>
                <input id="cs-email2" type="text" class="form-control" placeholder="메일 서버" aria-label="Server" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="cs-type">문의 종류</label>
                </div>
                <select class="custom-select " id="cs-type">
                    <option value="선택하세요">선택하세요</option>
                    <option th:selected="${incorrect}?true:_" value="정보 추가/수정/삭제 요청">정보 추가/수정/삭제 요청</option>
                    <option value="서비스 관련">서비스 관련</option>
                    <option value="제휴 문의">제휴 문의</option>
                    <option value="기타">기타</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">문의 내용</span>
                <textarea th:text="${incorrect}?'오락실 이름 : ' +${storeName} +'&#10;내용 제보 : ' :_" id="cs-content-text" class="form-control" aria-label="With textarea" rows="5" required></textarea>
            </div>
        </form>
        <div class="mb-3">
            아래의 제출 버튼을 누름으로서 GorakuList의 <a th:href="@{/legal/toc}">이용약관</a>과 <a
                th:href="@{/legal/privacy}">개인정보처리방침</a>에
            동의한
            것으로 간주합니다.
        </div>
        <div class="input-group mb-3">
            <button id="btn-submit" type="button" class="btn btn-block btn-primary">제출</button>
        </div>
    </div>
</div>
<th:block layout:fragment="custom-script">
    <script type="application/javascript" th:src="@{/node_modules/axios/dist/axios.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/content/cs/cs.js}"></script>
</th:block>
</body>
<th:block layout:fragment="modal">
    <!-- BEGIN modal -->
    <div id="cs-modal-success" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">문의</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>접수되었습니다. 감사합니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div id="cs-modal-fail" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">문의</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-danger">문의 접수 중 오류가 발생하였습니다.</p>
                    <p>gorakulist@gmail.com으로 요청해주세요.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>